# monai>=1.0.1
# monai-nvflare==0.2.1
# nibabel==4.0.2
# numpy
# nvflare==2.3.0
# pandas==1.5.3
# Pillow==9.4.0
# prettytable==3.5.0
# protobuf==3.20.3
# psutil==5.9.1
# pytorch-ignite==0.4.10
# requests-oauthlib==1.3.1
# scikit-image==0.19.3
# scikit-learn==1.1.3
# scipy==1.9.3
# seaborn 
# setproctitle==1.3.2
# shortuuid==1.0.10
# sympy==1.12
# tenseal==0.3.0
# tensorboard 
# tensorboard-data-server
# tensorboard-plugin-wit
# torch==2.0.1
# torch-tb-profiler==0.4.0
# torchaudio==0.12.1
# torchvision==0.15.2
# tqdm
# lightly==1.0.0

